<section class="about-index">
  <header class="page-header">
    <div class="intro">
      <h1>Welcome to The Jungle!</h1>
      <p>
        When you buy a plant online at The Jungle, it is delievered directly from one of our greenhouses to your door. 
      </p>
      <p>
      Our plants are cared for by our team of plant experts and kept in tip-top condition ensuring that you only get the finest quality. At our greenhouse, we enrich each plant's soil and our plant experts ensure that our plants get the right amount of water, humidity and drainage. 
      </p>
    </div>
  </header>
</section>